## 와인 품질 데이터
- 와인 성분 변수들을 이용하여 품질을 예측하는 유명한 데이터 <br> <br>

# 과제 진행 하실 때, 여기에 직접하시면 전체가 수정됩니다..<br>
#따로 다운로드 받으셔서 진행해주시기바랍니다.

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [3]:
from google.colab import drive


drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
path = '/content/drive/MyDrive/ybigta_교육세션/numpy_pandas/'
wine = pd.read_excel(path+'wine.xlsx')
wine.to_csv(path+'wine.csv')
wine.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [11]:
wine.shape

(5497, 14)

#### 컬럼명 확인

In [12]:
wine.columns

Index(['index', 'quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [14]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 601.4+ KB

#### 통계값 확인

In [15]:
wine.describe()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,2748.000000,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,1586.991546,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,0.000000,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,1374.000000,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,2748.000000,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,4122.000000,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,5496.000000,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [18]:
wine['quality'].unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [19]:
wine['quality'].value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

#### 중요하다고 생각되는 부분만 추출

In [20]:
df=wine[['quality','residual sugar','pH','alcohol','type']]
df.head(5)

   quality  residual sugar    pH  alcohol   type
0        5             6.8  3.44     10.2  white
1        5             2.4  3.19      9.5    red
2        5             2.0  3.05     10.9  white
3        6             6.0  3.26     10.8  white
4        6             9.5  3.04     10.9  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [21]:
wine.groupby("quality").agg((["min", "max", "mean"]))

        index                    fixed acidity                  \
          min   max         mean           min   max      mean
quality
3         209  5402  2847.730769           4.2  11.8  7.811538
4          29  5485  2692.709677           4.6  12.5  7.269892
5           0  5495  2762.370805           4.5  15.9  7.329195
6           3  5496  2741.139901           3.8  14.3  7.166743
7          11  5494  2794.899351           4.4  15.6  7.123972
8          25  5478  2466.427632           3.9  10.7  6.839474
9         561  3497  2354.800000           6.6   9.1  7.420000

        volatile acidity                  citric acid                  \
                     min    max      mean         min   max      mean
quality
3                   0.17  1.580  0.538077        0.00  0.66  0.266923
4                   0.11  1.130  0.447285        0.00  1.00  0.280323
5                   0.10  1.330  0.387855        0.00  1.00  0.308043
6                   0.08  1.040  0.312301        0.00  1.66  0.323411
7                   0.08  0.915  0.289724        0.00  0.76  0.332987
8                   0.12  0.850  0.292730        0.03  0.74  0.330263
9                   0.24  0.360  0.298000        0.29  0.49  0.386000

        residual sugar                  chlorides                   \
                   min    max      mean       min    max      mean
quality
3                 1.15  16.20  5.203846     0.022  0.267  0.076500
4                 0.70  15.40  4.145430     0.013  0.610  0.059247
5                 0.60  23.50  5.792422     0.009  0.464  0.064417
6                 0.70  65.80  5.535141     0.015  0.415  0.053932
7                 0.90  19.25  4.748918     0.012  0.358  0.045352
8                 0.80  14.80  5.581579     0.014  0.121  0.041105
9                 1.60  10.60  4.120000     0.018  0.035  0.027400

        free sulfur dioxide                   total sulfur dioxide         \
                        min    max       mean                  min    max
quality
3                       3.0  289.0  40.096154                  9.0  440.0
4                       3.0  138.5  20.553763                  7.0  272.0
5                       2.0  131.0  30.174217                  6.0  344.0
6                       1.0  112.0  30.969578                  6.0  294.0
7                       3.0  108.0  30.457251                  7.0  229.0
8                       3.0  105.0  34.585526                 12.0  212.5
9                      24.0   57.0  33.400000                 85.0  139.0

                     density                       pH                  \
               mean      min      max      mean   min   max      mean
quality
3        121.461538  0.99110  1.00080  0.995713  2.87  3.63  3.250385
4        104.811828  0.98920  1.00040  0.994730  2.74  3.90  3.228602
5        120.370805  0.98722  1.00315  0.995843  2.79  3.79  3.213384
6        115.357616  0.98758  1.03898  0.994527  2.74  4.01  3.219611
7        108.178571  0.98711  1.00320  0.993122  2.84  3.82  3.228333
8        119.421053  0.98713  1.00060  0.992544  2.94  3.57  3.216711
9        116.000000  0.98965  0.99700  0.991460  3.20  3.41  3.308000

        sulphates                 alcohol
              min   max      mean     min   max       mean
quality
3            0.28  0.74  0.500000     8.0  12.6  10.251923
4            0.25  2.00  0.500484     8.6  13.5  10.180376
5            0.27  1.98  0.525017     8.0  14.9   9.846875
6            0.25  1.95  0.532686     8.4  14.0  10.606015
7            0.22  1.36  0.546786     8.6  14.2  11.383864
8            0.25  1.10  0.506184     8.8  14.0  11.680921
9            0.36  0.61  0.466000    10.4  12.9  12.180000

#### groupby를 통해 quality/type로 묶고 개수 세기

In [22]:
wine.groupby(["quality","type"]).size()

quality  type
3        red         9
         white      17
4        red        41
         white     145
5        red       571
         white    1217
6        red       535
         white    1881
7        red       169
         white     755
8        red        13
         white     139
9        white       5
dtype: int64

#### 알코올 함량을 기준으로 오름차순 정리 (20개)

In [23]:
wine.sort_values('alcohol').head(20)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
4254,4254,3,4.2,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.0,white
5077,5077,5,4.5,0.190,0.21,0.95,0.033,89.0,159.0,0.99332,3.34,0.42,8.0,white
1768,1768,3,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,red
4176,4176,5,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.4,white
479,479,6,14.3,0.310,0.74,1.80,0.075,6.0,15.0,1.00080,2.86,0.79,8.4,red
3725,3725,5,7.6,0.280,0.49,20.15,0.060,30.0,145.0,1.00196,3.01,0.44,8.5,white
3772,3772,6,6.4,0.180,0.48,18.00,0.054,56.0,183.0,1.00038,2.98,0.61,8.5,white
172,172,6,6.5,0.180,0.48,18.00,0.054,56.0,183.0,1.00038,2.98,0.61,8.5,white
255,255,5,10.0,0.380,0.38,1.60,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,red
3062,3062,5,6.1,0.430,0.35,9.10,0.059,83.0,249.0,0.99710,3.37,0.50,8.5,white
2377,2377,5,6.5,0.360,0.16,1.30,0.054,11.0,107.0,0.99398,3.19,0.39,8.5,white
1427,1427,6,6.3,0.200,0.30,5.90,0.034,35.0,152.0,0.99642,3.47,0.40,8.5,white
4249,4249,4,7.2,0.400,0.62,10.80,0.041,70.0,189.0,0.99760,3.08,0.49,8.6,white
3155,3155,4,6.5,0.270,0.19,4.20,0.046,6.0,114.0,0.99550,3.25,0.35,8.6,white
4224,4224,6,6.8,0.220,0.24,4.90,0.092,30.0,123.0,0.99510,3.03,0.46,8.6,white
3046,3046,5,7.3,0.310,0.69,10.20,0.041,58.0,160.0,0.99770,3.06,0.45,8.6,white
3640,3640,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
30,30,5,6.8,0.440,0.20,16.00,0.065,61.0,186.0,0.99884,3.13,0.45,8.6,white
3656,3656,5,6.9,0.270,0.49,23.50,0.057,59.0,235.0,1.00240,2.98,0.47,8.6,white
3355,3355,4,7.3,0.360,0.54,13.30,0.054,63.0,193.0,0.99864,3.06,0.49,8.6,white

#### 알코올 함량을 기준으로 내림차순 정리 (20개)

In [24]:
wine.sort_values('alcohol', ascending=False).head(20)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
2787,2787,5,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.90,red
5340,5340,7,6.4,0.350,0.28,1.6,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,white
4964,4964,7,5.8,0.610,0.01,8.4,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,white
4059,4059,6,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.00,red
3005,3005,7,5.0,0.455,0.18,1.9,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,white
4150,4150,7,5.8,0.290,0.21,2.6,0.025,12.0,120.0,0.98940,3.39,0.79,14.00,white
1963,1963,6,8.8,0.460,0.45,2.6,0.065,7.0,18.0,0.99470,3.32,0.79,14.00,red
984,984,8,4.9,0.330,0.31,1.2,0.016,39.0,150.0,0.98713,3.33,0.59,14.00,white
876,876,7,4.9,0.420,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.00,red
2142,2142,6,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.00,red
3848,3848,8,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.00,red
5160,5160,6,5.8,0.390,0.47,7.5,0.027,12.0,88.0,0.99070,3.38,0.45,14.00,white
3265,3265,7,4.7,0.455,0.18,1.9,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,white
5448,5448,7,5.8,0.240,0.28,1.4,0.038,40.0,76.0,0.98711,3.10,0.29,13.90,white
4492,4492,7,5.8,0.320,0.20,2.6,0.027,17.0,123.0,0.98936,3.36,0.78,13.90,white
1463,1463,7,5.9,0.340,0.22,2.4,0.030,19.0,135.0,0.98940,3.41,0.78,13.90,white
196,196,6,4.7,0.785,0.00,3.4,0.036,23.0,134.0,0.98981,3.53,0.92,13.80,white
2587,2587,6,5.4,0.270,0.22,4.6,0.022,29.0,107.0,0.98889,3.33,0.54,13.80,white
3342,3342,7,5.6,0.490,0.13,4.5,0.039,17.0,116.0,0.99070,3.42,0.90,13.70,white
5456,5456,7,5.9,0.170,0.29,3.1,0.030,32.0,123.0,0.98913,3.41,0.33,13.70,white

#### quailty가 7 이상인 데이터 추출 (20개)

In [26]:
wine_quality_7plus = wine[wine['quality'] >= 7]
wine_quality_7plus.head(20)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
11,11,7,6.2,0.160,0.33,1.10,0.057,21.0,82.0,0.99100,3.32,0.46,10.9,white
12,12,7,7.3,0.330,0.40,6.85,0.038,32.0,138.0,0.99200,3.03,0.30,11.9,white
17,17,7,6.5,0.280,0.25,4.80,0.029,54.0,128.0,0.99074,3.17,0.44,12.2,white
25,25,8,6.6,0.290,0.31,3.90,0.027,39.0,96.0,0.99035,3.24,0.60,12.6,white
45,45,7,7.5,0.305,0.38,1.40,0.047,30.0,95.0,0.99158,3.22,0.52,11.5,white
46,46,7,7.4,0.190,0.30,12.80,0.053,48.5,212.0,0.99860,3.14,0.49,9.1,white
53,53,7,6.6,0.290,0.29,1.80,0.036,38.0,102.0,0.98819,3.08,0.42,13.7,white
54,54,8,7.0,0.530,0.43,6.10,0.029,6.0,76.0,0.99118,3.08,0.50,12.5,white
55,55,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
60,60,7,6.2,0.290,0.32,3.60,0.026,39.0,138.0,0.98920,3.31,0.37,13.1,white
63,63,7,8.3,0.280,0.48,2.10,0.093,6.0,12.0,0.99408,3.26,0.62,12.4,red
71,71,8,6.8,0.190,0.32,7.05,0.019,54.0,188.0,0.99350,3.25,0.37,11.1,white
74,74,7,6.0,0.100,0.24,1.10,0.041,15.0,65.0,0.99270,3.61,0.61,10.3,white
79,79,7,6.2,0.200,0.26,1.10,0.047,42.0,119.0,0.99158,3.48,0.60,11.0,white
87,87,7,5.0,0.270,0.32,4.50,0.032,58.0,178.0,0.98956,3.45,0.31,12.6,white
89,89,7,7.6,0.310,0.24,1.80,0.037,39.0,150.0,0.99130,3.05,0.44,11.8,white
101,101,7,6.4,0.310,0.38,2.90,0.038,19.0,102.0,0.99120,3.17,0.35,11.0,white
104,104,7,7.1,0.270,0.27,10.40,0.041,26.0,114.0,0.99335,3.04,0.52,11.5,white
119,119,7,6.7,0.250,0.33,2.90,0.057,52.0,173.0,0.99340,3.02,0.48,9.5,white
120,120,7,5.6,0.350,0.40,6.30,0.022,23.0,174.0,0.99220,3.54,0.50,11.6,white

#### alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (lambda 쓰세요)

In [28]:
wine['power'] = wine['alcohol'].apply(lambda x: 'strong' if x > 10 else 'weak')
wine.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,power
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white,strong
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red,weak
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white,strong
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white,strong
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white,strong

#### merge 실습을 위해 데이터를 인위적으로 나눠볼게요

In [29]:
df_x = wine[['quality', 'fixed acidity', 'citric acid']]

In [30]:
df_y = wine[['quality', 'volatile acidity', 'chlorides', 'alcohol']]

In [31]:
df_y = df_y[df_y.quality >= 7]

#### quality를 기준으로 inner join

In [34]:
pd.concat([df_x, df_y], join='inner').head()

   quality
0        5
1        5
2        5
3        6
4        6

#### quality를 기준으로 outer join

In [35]:
pd.concat([df_x, df_y]).head()

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        5            5.6         0.06               NaN        NaN      NaN
1        5            8.8         0.14               NaN        NaN      NaN
2        5            7.9         0.39               NaN        NaN      NaN
3        6            7.0         0.31               NaN        NaN      NaN
4        6            7.8         0.26               NaN        NaN      NaN

<br>수고하셨습니다! 넘파이와 판다스는 기능이 정말 많아서 이번 세션에서 다 다루진 못했습니다..! <br>
하지만 우리에겐 구글이 있죠 😎 <br>
무수한 블로그와 스택오버플로우를 뒤지다 보면 필요한 기능을 찾으실 수 있습니다<br>
직접 데이터를 만져보면서 여러 함수들을 써보면 저절로 넘파이와 판다스가 손에 익으실 거에요! :)<br>